@model IEnumerable<ShoppingCart.Application.ViewModels.CategoryViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Categories</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("ViewCategoriesPartial", Model)
    </tbody>
</table>
