@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Cart";
}
@if (this.Model.Count() > 0)
{
<div class="container">
    <div class="row">
        @Html.Partial("ViewProductsPartial", Model)
    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
        <a href="/Basket/Checkout" class="list-group-item">Checkout</a>}
    else
    {
        <h2 class="lead">you must be logged in to checkout the items !</h2>
    }
</div>
}
else
{
    <div class="container">
        <div class="row">
            <h1>You have nothing in the cart!</h1>
        </div>
    </div>
}
