@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/Products/GetPreviousPage?currentPage=@ViewBag.pageNo">Previous</a></li>                          
        <li class="page-item"><a class="page-link" href="/Products/GetNextPage?currentPage=@ViewBag.pageNo">Next</a></li>
    </ul>
</nav>