
  @model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}
<form class="form-inline"  asp-action="Filter">
    <select for="category.Id" class="form-control" name="id">
        @foreach (var category in ViewBag.Categories)
        {
          <Option href="Filter?@category.Id" value="@category.Id" >@category.Name</Option>

        }
    </select>
    <button type="submit" class="btn btn-primary mb-2 mt-1">Filter</button>
</form>

