@*@model ShoppingCart.Application.ViewModels.ProductViewModel

<form class="form-inline" method="post" action="/Products/Filter">
    <select asp-for="@Model.Category.Id" class="form-control">
        @foreach (var @Model.category in ViewBag.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>*@