@*@model ShoppingCart.Application.ViewModels.ProductViewModel


    <form class="form-inline" method="post" action="/Products/Filter">
        <select asp-for="Category.Id" class="form-control">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="category.Id">category.Name</option>
            }
        </select>
        <button type="submit" value="category.Id" class="btn btn-primary mb-2">Filter</button>
    </form>*@


  @model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}
<form class="form-inline"  asp-action="Filter">
    <select for="category.Id" class="form-control" name="id">
        @foreach (var category in ViewBag.Categories)
        {
            <Option  href="Filter?@category.Id" value="@category.Id">@category.Name</Option>
        }
    </select>
    <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>


@*@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>


    <form class="form-inline" method="post" action="/Products/Filter?id=@category.Category.Id">
        <select name="Id" class="form-control">

            @foreach (var category in Model)
            {
                <option value="@category.Category.Id">@category.Category.Name</option>
            }
        </select>
        <button type="submit" class="btn btn-primary mb-2">Filter</button>
    </form>*@
